:root {
    font-size: 64px;
    --main-color: #444;
    color: var(--main-color);
    margin: 0;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    flex: 1 0 0;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #aaa;
    font-size: 32px;
    color: var(--main-color);
    font-weight: bold;
}

.flex {
    display: flex;
    gap: 24px;
}

.column {
    flex-direction: column;
}

#calculator .flex {
    flex: 1;
}

#calculator {
    height: 80vh;
    aspect-ratio: 2 / 3;
    backGround-color: var(--main-color);
    padding: 32px;
    border: 2px solid black;
    border-radius: 16px;
}

#output {
    background-color: #aaa;
    border-radius: 8px;
    text-align: right;
    border: 1px solid black;
    padding: 4px 16px;
    margin-bottom: 32px;
}